In [77]:
import pandas as pd
from pandas import DataFrame
data = {'ID':['001','002','003','004','005','006','007'],
        'name':['Bob','Tom','Jerry','Nick','Jack','Amy','Joe'],
        'gender':[True,False,True,False,True,False,True],
        'age':[16,20,18,18,17,18,16],
        'height':[1.88,1.78,1.81,1.86,1.74,1.75,1.76]}
frame = pd.DataFrame(data)
print(frame)

    ID   name  gender  age  height
0  001    Bob    True   16    1.88
1  002    Tom   False   20    1.78
2  003  Jerry    True   18    1.81
3  004   Nick   False   18    1.86
4  005   Jack    True   17    1.74
5  006    Amy   False   18    1.75
6  007    Joe    True   16    1.56

In [1]:
print(frame.name)
print(frame['name'])
print(frame[['name','age']])

NameError: name 'frame' is not defined

In [62]:
print(frame[0:1])

    ID name  gender  age  height
0  001  Bob    True   16    1.88

In [63]:
print(frame[2:7:2])

    ID   name  gender  age  height
2  003  Jerry    True   18    1.81
4  005   Jack    True   17    1.74
6  007    Joe    True   16    1.76

In [64]:
print(frame[1:2]['name'])

1    Tom
Name: name, dtype: object

In [65]:
print(frame.loc[1])

ID          002
name        Tom
gender    False
age          20
height     1.78
Name: 1, dtype: object

In [66]:
print(frame.loc[0:3])

    ID   name  gender  age  height
0  001    Bob    True   16    1.88
1  002    Tom   False   20    1.78
2  003  Jerry    True   18    1.81
3  004   Nick   False   18    1.86

In [67]:
print(frame.iloc[1,3])#第二列第四行

20

In [68]:
print(frame[frame['age']>17])
print(frame[frame['age'].isin([18,20])])

    ID   name  gender  age  height
1  002    Tom   False   20    1.78
2  003  Jerry    True   18    1.81
3  004   Nick   False   18    1.86
5  006    Amy   False   18    1.75
    ID   name  gender  age  height
1  002    Tom   False   20    1.78
2  003  Jerry    True   18    1.81
3  004   Nick   False   18    1.86
5  006    Amy   False   18    1.75

In [69]:
frame.columns = ["学号","姓名","性别","年龄","身高"]
print(frame)

    学号     姓名     性别  年龄    身高
0  001    Bob   True  16  1.88
1  002    Tom  False  20  1.78
2  003  Jerry   True  18  1.81
3  004   Nick  False  18  1.86
4  005   Jack   True  17  1.74
5  006    Amy  False  18  1.75
6  007    Joe   True  16  1.76

In [70]:
import pandas as pd
from pandas import DataFrame
def gender(val):
    if val is True:
        return 'Male'
    else:
        return 'Female'
data = {'ID':['001','002','003','004','005','006','007'],
        'name':['Bob','Tom','Jerry','Nick','Jack','Amy','Joe'],
        'gender':[True,False,True,False,True,False,True],
        'age':[16,20,18,18,17,18,16],
        'height':[1.88,1.78,1.81,1.86,1.74,1.75,1.76]}
frame = pd.DataFrame(data)
print(frame['gender'].apply(gender))

0      Male
1    Female
2      Male
3    Female
4      Male
5    Female
6      Male
Name: gender, dtype: object

In [71]:
print(frame.sort_values(by=['height'],ascending=False))
# 先按第一个排，后按第二个排
print(frame.sort_values(by=['age','height'],ascending=[True,False]))

    ID   name  gender  age  height
0  001    Bob    True   16    1.88
3  004   Nick   False   18    1.86
2  003  Jerry    True   18    1.81
1  002    Tom   False   20    1.78
6  007    Joe    True   16    1.76
5  006    Amy   False   18    1.75
4  005   Jack    True   17    1.74
    ID   name  gender  age  height
0  001    Bob    True   16    1.88
6  007    Joe    True   16    1.76
4  005   Jack    True   17    1.74
3  004   Nick   False   18    1.86
2  003  Jerry    True   18    1.81
5  006    Amy   False   18    1.75
1  002    Tom   False   20    1.78

In [72]:
frame = frame.sort_values(by=['height'],ascending=[False])
frame = frame.reset_index(drop=True)
print(frame)

    ID   name  gender  age  height
0  001    Bob    True   16    1.88
1  004   Nick   False   18    1.86
2  003  Jerry    True   18    1.81
3  002    Tom   False   20    1.78
4  007    Joe    True   16    1.76
5  006    Amy   False   18    1.75
6  005   Jack    True   17    1.74

In [73]:
groups = frame.groupby(frame['gender'])
print(groups.count())

        ID  name  age  height
gender
False    3     3    3       3
True     4     4    4       4

In [74]:
print(groups['gender'].count())

gender
False    3
True     4
Name: gender, dtype: int64

In [75]:
import pandas as pd
data = {'ID':['001','002','003','004','005','006','007'],
        'name':['Bob','Tom','Jerry','Nick','Jack','Amy','Joe'],
        'gender':[True,False,True,False,True,False,True],
        'age':[16,20,18,18,17,18,16],
        'height':[1.88,1.78,1.81,1.86,1.74,1.75,1.76]}
frame = pd.DataFrame(data)

data2 = {'SID':['001','001','002','003','003','003','004','004','005','006','006'],
         'CID':['A1','A2','A1','A1','A2','B1','A1','A3','B1','A2','B1'],
         'Score':[56,78,90,74,86,89,67,80,77,76,90]}
score = pd.DataFrame(data2)
print(pd.merge(frame,score,left_on='ID',right_on='SID'))

     ID   name  gender  age  height  SID CID  Score
0   001    Bob    True   16    1.88  001  A1     56
1   001    Bob    True   16    1.88  001  A2     78
2   002    Tom   False   20    1.78  002  A1     90
3   003  Jerry    True   18    1.81  003  A1     74
4   003  Jerry    True   18    1.81  003  A2     86
5   003  Jerry    True   18    1.81  003  B1     89
6   004   Nick   False   18    1.86  004  A1     67
7   004   Nick   False   18    1.86  004  A3     80
8   005   Jack    True   17    1.74  005  B1     77
9   006    Amy   False   18    1.75  006  A2     76
10  006    Amy   False   18    1.75  006  B1     90